$pri: #5256ad;
$sec: #777cdf;
$bg: #06080a;
$onBg: #c7c7c7;
$secBg: #38393b;
$onSecBg: #dddddd;

$blue: #0089d9;
$lightblue: #7FDBFF;
$red: #FF4136;
$orange: #FF851B;
$yellow: #FFDC00;
$green: #2ECC40;
$lightgreen: #01FF70;